# Rename this file to config.ini

[source]
server     = github.enterprise_dns.com
repository = apple/myrepo
username   = git.bot
password   = your_token_value_8f878ff5c7120a45440ff63f3eea

[target]
server     = github.com
repository = leemgs/myrepo_new
username   = leemgs
password   = your_toek_value_98a51b1a66b6f73ebf98c56a

# These can be adjusted based on your group's region and language.
[format]

# Formatting dates:
# If unsure, just using '%c' will default to the locale’s appropriate date and time representation.
# date = %A %b %d, %Y at %H:%M GMT
# Sample: Friday Sep 13, 2013 at 22:58 GMT

# Custom templates: Use the templates found in this project's templates directory)
# issue_template =        templates/issue.md
# pull_request_template = templates/pull_request.md
# comment_template =      templates/comment.md
